.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2rem;
}

.nasa-pic-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}

#image {
    width: 50%;
    height: 50%;    
}

#explanation {
    letter-spacing: 0px;
    line-height: 20px;
    width: 50%;
    height: auto;
    margin-right: 0;
    margin-left: 1rem;
    
   
}

p {
    font-family: 'Poppins', sans-serif;

}

h1 {
    font-family: 'Caprasimo', cursive;
    color: black;
    text-align: center;
}

h2 {
    font-family: 'Caprasimo', cursive;
    color: black;
}