* {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
}

.container {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2rem;
}

.coffee-pic-container {
    display: flex
}

#image {
    width: 50%;
    margin-right: 1rem;
}

#explanation {
    letter-spacing: 0px;
    line-height: 20px;
}